.parallax {
  color: #FAF9F6; /* Change */
  min-height: 600px; /* Change */
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallax .overlay {
  background: rgba(47, 133, 90, 0.0); /* Change */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.parallax .content {
  /* background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el texto */
  position: relative;
  z-index: 2;
}

/* Aplicar estilos adicionales solo para Safari */
@media not all and (min-resolution:.001dpcm) { /* Selector específico de Safari */
  .parallax {
    background-attachment: scroll; /* Cambiar a scroll en lugar de fixed */
  }
}