.background-div {
overflow: hidden;
border-radius: 70% / 40%;
position: relative;
background-size: cover;
background-position: center;
}

@media (max-width: 600px) {
    .background-div {
        width: 220px;
        height: 330px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .background-div {
        width: 220px;
        height: 330px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .background-div {
        width: 240px;
        height: 390px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .background-div {
        width: 250px;
        height: 400px;
    }
}

@media (min-width: 1441px) {
    .background-div {
        width: 300px;
        height: 450px;
    }
}